.livelihood-container{
    box-shadow: 0 10px 40px -20px rgb(56 73 107 / 20%);
    .break-line{
        margin: 10px 0px;
        border-bottom: 1px solid #ddd;
    }
    .description-container{
        border: 1px solid #ddd;
    padding: 15px;
    }
}
