.farm-container{
    .ml15{
        margin-left: 15px;
    }
    .farm-wallpaper{
        background-color: #00a700 ;
        height: 92px;
    }
    .left-panel{
        padding-top: 100px;
    }
    .toggle-menu{
        border-radius: 0px;
        border: none;
        .mat-button-toggle-checked {
            background-color: #00a70080;
            color: rgba(0,0,0,.54);
        }
    }
    .center{
        text-align: center;
    }
}
