<app-main-header></app-main-header>
<div class="container">
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
            <mat-grid-list cols="3" rowHeight="1:1">
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Last name" formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input matInput placeholder="Last name" formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Extension Name</mat-label>
                <input matInput placeholder="Extension name" formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Sex</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Upload Photo</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>House/Lot/Bldg. No</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Street/Sitio/Subdv.</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Barangay</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Region</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Province</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Municipality</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Place of Birth</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Religion</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Civil Status</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Name of Spouse (If Married)</mat-label>
                <input matInput formControlName="firstCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Almost there</ng-template>

            <mat-grid-list cols="1" rowHeight="2:1">
              <mat-checkbox formControlName="secondCtrl" required>Household Head</mat-checkbox>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-form-field>
                <mat-label>If No, Name of Household Head</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Relationship</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-form-field>
                <mat-label>No. Of Living Household Members</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>No. Of Male</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>No. Of Female</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
            </mat-grid-list>
            
            <mat-grid-list cols="1" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Highest Form Of Education</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="5" rowHeight="3:1">
              <mat-form-field>
                <mat-checkbox formControlName="secondCtrl" required>Person With Disability (PWD)</mat-checkbox>
                <div>
                  <mat-label>If Yes, Please Specify ID Number</mat-label>
                  <input matInput formControlName="secondCtrl" required>
                </div>
              </mat-form-field>
              <mat-form-field class="mr-2">
                <mat-checkbox formControlName="secondCtrl" required>Member Of Any Farmers Association</mat-checkbox>
                <div>
                  <mat-label>If Yes, Please Specify ID Number</mat-label>
                  <input matInput formControlName="secondCtrl" required>
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-checkbox formControlName="secondCtrl" required>Member of a Indigenous Group</mat-checkbox>
                <div>
                  <mat-label>If Yes, Please Specify ID Number</mat-label>
                  <input matInput formControlName="secondCtrl" required>
                </div>
              </mat-form-field>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-form-field>
                <mat-label>Person to notify in case of emergency</mat-label>
                <input matInput formControlName="secondCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact Number</mat-label>
                <input maxlength="11" matInput formControlName="secondCtrl" required>
              </mat-form-field>
            </mat-grid-list>


            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</div>