<app-main-header></app-main-header>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <mat-accordion>
                <mat-expansion-panel hideToggle default>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Overview</mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Usage</mat-panel-title>
                    </mat-expansion-panel-header>
                <p>Work Hours</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Productivity</mat-panel-title>
                    </mat-expansion-panel-header>
                <p>Overview</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>KPI</mat-panel-title>
                    </mat-expansion-panel-header>
                <p>Return on investment</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Field Analytics</mat-panel-title>
                    </mat-expansion-panel-header>
                <p>Work Hours</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Finances</mat-panel-title>
                    </mat-expansion-panel-header>
                <p>Overview</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="d-flex justify-content-end">
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="addFarmer()"><mat-icon>add</mat-icon>Add Farmers</button>
                </mat-card-actions>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="refNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref No. </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].id}} </td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].last_name }} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].first_name }} </td>
                </ng-container>
                <ng-container matColumnDef="municipality">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipality </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].municipality }} </td>
                </ng-container>
                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].province }} </td>
                </ng-container>
                <ng-container matColumnDef="lotNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot No </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].lot_no }} </td>
                </ng-container>
                <ng-container matColumnDef="farmAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Farm Address </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].farm_address }} </td>
                </ng-container>
                <ng-container matColumnDef="tenStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ten Status </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].ten_status }} </td>
                </ng-container>
                <ng-container matColumnDef="noHas">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Has. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ element[i].total_farm_area }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="well">
                <div class="d-flex justify-content-start px-2">
                    <button mat-stroked-button color="accent" (click)="openDialog()"><mat-icon>filter_list</mat-icon>Filter</button>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-card>
                            <div class="dashboard-card">
                                <div class="card-header">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-center"><span class="material-icons card-icon"> person</span></div>
                                        <div class="d-flex justify-content-center">TOTAL</div>
                                        <div class="d-flex justify-content-center">FARM LAND</div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="d-flex justify-content-center p-3">
                                        <mat-label>12,000 ha</mat-label>
                                     </div>
                                </div>
                            </div>
                          </mat-card>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-card>
                            <div class="dashboard-card">
                                <div class="card-header">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-center"><span class="material-icons card-icon"> person</span></div>
                                        <div class="d-flex justify-content-center">TOTAL</div>
                                        <div class="d-flex justify-content-center">FARMERS</div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="d-flex justify-content-center p-3">
                                        <mat-label>9,100</mat-label>
                                     </div>
                                </div>
                            </div>
                          </mat-card>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-card>
                            <div class="dashboard-card">
                                <div class="card-header">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-center"><span class="material-icons card-icon"> person</span></div>
                                        <div class="d-flex justify-content-center">TOTAL</div>
                                        <div class="d-flex justify-content-center">LABORERS</div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="d-flex justify-content-center p-3">
                                        <mat-label>15,200</mat-label>
                                     </div>
                                </div>
                            </div>
                          </mat-card>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-card>
                            <div class="dashboard-card">
                                <div class="card-header">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-center"><span class="material-icons card-icon"> person</span></div>
                                        <div class="d-flex justify-content-center">TOTAL</div>
                                        <div class="d-flex justify-content-center">FISHERFOLKS</div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="d-flex justify-content-center p-3">
                                        <mat-label>3,999</mat-label>
                                     </div>
                                </div>
                            </div>
                          </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 