@import '../../../styles/global.scss';

.resource-overview{
    .pad-header{
        padding-bottom: 20px;
    }
    .resource-img{
        height: 120px;
        width: 120px;
        border: 2px solid lightgrey;
        padding: 5px;
    }
    mat-grid-tile {
        background: lightblue;
        margin-left: 20px;
        margin-right: 20px;
    } 
}