<p>
    <mat-toolbar class="container" color="primary">
      <span>Farm Juan</span>
      <span class="main-header-spacer"></span>
      <button mat-icon-button class="main-header-icon favorite-icon" aria-label="main-header icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="main-header-icon" aria-label="main-header icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> 
      <button mat-icon-button class="main-header-icon" aria-label="main-header icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
</p>